@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif !important;
}

.modal-box.relative {
    max-width: -moz-fit-content;
    max-width: fit-content;
}
